# WWAN interfaces
CONFIG_USB_USBNET=m

CONFIG_USB_NET_QMI_WWAN=m
CONFIG_QCOM_QMI_HELPERS=m

CONFIG_MHI_WWAN_MBIM=m

CONFIG_USB_NET_CDCETHER=m
CONFIG_USB_NET_CDC_EEM=m
CONFIG_USB_NET_CDC_NCM=m
CONFIG_USB_NET_CDC_MBIM=m
CONFIG_USB_NET_CDC_SUBSET_ENABLE=m
CONFIG_USB_NET_CDC_SUBSET=m
CONFIG_USB_CDC_PHONET=m
CONFIG_USB_CDC_COMPOSITE=m
CONFIG_USB_WDM=m

# Support USB serial interfaces
CONFIG_USB_SERIAL_GENERIC=y
CONFIG_USB_SERIAL_OPTION=m
